@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    @variants responsive {
        .display-unset {
            display: unset;
        }
    }
}

body, html, #__nuxt {
    height: 100%;
}

a {
    @apply link;
}

input:focus {
    outline: none !important;
}