@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@layer utilities {
    @variants responsive {
        .display-unset {
            display: unset;
        }
        .display-revert {
            display: revert;
        }
    }
}

body, html, #__nuxt {
    margin: 0;
    height: 100%;
}

.container-centered {
    @apply container mx-auto;
}

.link {
    @apply no-underline hover:underline;
}